<div class="column-full">
		<h4 class="heading-medium less-margin-top">Q1 2017</h4>
			<table class="roadmap-table">
			  <thead>
			    <tr> 
			      <th scope="col" class="first-column">Feature</th>
			      <th >Detail</th>
			      <th >Status</th>
			    </tr>
			  </thead>

			  <tbody>
			    <tr>
			      <td scope="row">Searching templates</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Done</td>
			    </tr>
			    <tr>
			      <td scope="row">Sending letters (invite only)</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages. Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Done</td>
			    </tr>
			    <tr>
			      <td scope="row">Sending text messages to international numbers</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>75% complete</td>
			    </tr>
			    <tr>
			      <td scope="row">Supporting replies to text messages (invite only)</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>50% complete</td>
			    </tr>
			  </tbody>
			</table>
	</div>

<div class="column-full">
		<h4 class="heading-medium less-margin-top">Q2 2017</h4>
			<table class="roadmap-table">
			  <thead>
			    <tr> 
			      <th scope="col" class="first-column">Feature</th>
			      <th >Detail</th>
			      <th >Status</th>
			    </tr>
			  </thead>

			  <tbody>
			    <tr>
			      <td scope="row">Searching templates</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>50% complete</td>
			    </tr>
			    <tr>
			      <td scope="row">Sending letters (invite only)</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages. Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Just started</td>
			    </tr>
			    <tr>
			      <td scope="row">Sending text messages to international numbers</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Not started</td>
			    </tr>
			    <tr>
			      <td scope="row">Supporting replies to text messages (invite only)</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Not started</td>
			    </tr>
			  </tbody>
			</table>
	</div>

<div class="column-full">
		<h4 class="heading-medium less-margin-top">Q3 2017</h4>
			<table class="roadmap-table">
			  <thead>
			    <tr> 
			      <th scope="col" class="first-column">Feature</th>
			      <th >Detail</th>
			      <th >Status</th>
			    </tr>
			  </thead>

			  <tbody>
			    <tr>
			      <td scope="row">Searching templates</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Not started</td>
			    </tr>
			    <tr>
			      <td scope="row">Sending letters (invite only)</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages. Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Not started</td>
			    </tr>
			    <tr>
			      <td scope="row">Sending text messages to international numbers</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Not started</td>
			    </tr>
			    <tr>
			      <td scope="row">Supporting replies to text messages (invite only)</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Delayed</td>
			    </tr>
			  </tbody>
			</table>
	</div>

<div class="column-full">
		<h4 class="heading-medium less-margin-top">Q4 2017</h4>
			<table class="roadmap-table">
			  <thead>
			    <tr> 
			      <th scope="col" class="first-column">Feature</th>
			      <th >Detail</th>
			      <th >Status</th>
			    </tr>
			  </thead>

			  <tbody>
			    <tr>
			      <td scope="row">Searching templates</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Not started</td>
			    </tr>
			    <tr>
			      <td scope="row">Sending letters (invite only)</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages. Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Not started</td>
			    </tr>
			    <tr>
			      <td scope="row">Sending text messages to international numbers</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Not started</td>
			    </tr>
			    <tr>
			      <td scope="row">Supporting replies to text messages (invite only)</td>
			      <td>Upload a spreadsheet of email addresses or phone numbers and Notify sends the messages.</td>
			      <td>Not started</td>
			    </tr>
			  </tbody>
			</table>
	</div>

