<div class="column-one-quarter">
    	<h3 class="heading-small less-margin-top">Q1 2017</h3>
    	<ul class="list list-bullet">
		  <li>Searching templates</li>
		  <li>Sending letters (invite only)</li>
		  <li>Sending text messages to international numbers</li>
		  <li>Supporting replies to text messages (invite only)</li>
			<li>Retiring version of the API</li>
		</ul>
	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-small less-margin-top">Q2 2017</h3>
    	<ul class="list list-bullet">
			<li>Sending individual messages via Notify interface</li>
			<li>Restricting notifications to sociable hours</li>
			<li>Searching for notifications by phone number or email address</li>
			<li>Sending letters (available for everyone)</li>
			<li>Distributing delivery of notifications over a period of time</li>
		</ul>
  	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-small less-margin-top">Q3 2017</h3>
    	<ul class="list list-bullet">
			<li>Sending of pre-compiled text messages and emails</li>
			<li>Checking mobile numbers are valid before sending</li>
			<li>Providing non-mobile phone 2-factor authentication</li>
			<li>Sending letters through the API</li>
		</ul>
  	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-small less-margin-top">Q4 2018</h3>
    	<ul class="list list-bullet">
			<li>Sending of pre-compiled letters</li>
			<li>Allowing people to request to join a service</li>
			<li>Publishing design patterns for integration</li>
		</ul>
  	</div>
