{% extends "govuk-pay.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block body_end %}


{% endblock %}

{% block content %}


<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">


      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Service Toolkit</a>
            </li>
            <li class="active">
                Common platforms
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Assemble, deploy and run services using common government platforms</h1>

      </div>
      <div class="column-one-third product-overview-intro-image">
        <!-- <img class= "top-image" src="/public/images/gaap-top-image.png" alt""> -->
      </div>
    </div>
  </div>
</div>


<main id="content" role="main">
<div class="grid-row">
<div class="column-full">
  <h2 class="heading-medium">Designed with service teams in mind</h2>
</div>
<div class="column-half">
  <p>Service teams doing digital transformation across government try to solve similar issues. Verifying someone’s identity, taking payments or keeping user’s updated about the progress of their case are common elements of many digital transactions.</p>
  <p>Common platforms were designed with the needs of these teams in mind:</p>
  <ul class="list list-bullet">
    <li>they’re easy to procure, use and integrate with</li>
    <li>they avoid whenever possible being locked into a vendor</li>
    <li>they’re supported by the teams that built them</li>
    <li>their features are based on input from service teams </li>
    <li>the paid plans are devised to cover costs and not to make a profit</li>
  </ul>
  </div>
  <div class="column-half">
  <p>Together with the guidance, standards, patterns and tools provided in the <a href="">Service Toolkit</a>, they help service teams deliver world-class digital services based on their users’ needs.</p>
  <img class= "panel-image" src="/public/images/gaap-end-to-end.png" alt"">
  </div>
</div>



<div class="grid-row">
<div class="column-full">
      <div class="section-border-top">
      </div>
</div>
  <div class="column-one-third">
  <h2 class="heading-medium">Platforms and components</h2> 
    <img class= "panel-image" src="/public/images/platform-image.png" alt"">
	  	<p>Keep your users updated via emails, text messages and letters with <a href="">GOV.UK Notify</a></p>
      <p>Take and process payments for your service with <a href="">GOV.UK Pay</a></p>
      <p>Allow users to prove their identity with <a href="">GOV.UK Verify</a></p>
  </div>
  <div class="column-one-third">
  <h2 class="heading-medium">Data infrastructure</h2> 
  <img class= "panel-image" src="/public/images/data-image.png" alt"">
      <p>Get access to live and authoritative data to build your service with <a href="">GOV.UK Registers</a></p>
  </div>
  <div class="column-one-third">
   <h2 class="heading-medium">Cloud hosting</h2> 
  <img class= "panel-image" src="/public/images/cloud-image.png" alt"">
      <p>Set up your infrastructure without web ops, and deploy and run your apps in minutes with <a href="">GOV.UK PaaS</a></p>
  </div>

</div>
	  


<div class="grid-row">
    <div class="column-full">
      <div class="section-border-top">
      <h2 class="heading-medium" id="6">Service stories</h2>
      </div>
    </div>
    <div class="column-half">
      <img class= "panel-image" src="/public/images/dbs-platforms.png" alt"">

    </div>
    <div class="column-half">
      <p>Disclosure and Barring Service decided to adopt common platforms to save on procurement costs, but they realised they could deliver digital services faster as well.</p>
        <p>See which <a href="">benefits common platforms unlocked for DBS</a></p>
  </div>        
 </div>

 <div class="grid-row">
    <div class="column-full">
      <div class="section-border-top">
      <h2 class="heading-medium" id="6">Case studies</h2>
      </div>
    </div>
    <div class="column-one-third">
        <div class="data">
        <span class="data-item bold-xxlarge">880</span>
        <span class="data-item bold-xsmall">hours of staff time saved yearly for Veterans Welfare Service through adopting <a href="">GOV.UK Notify</a></span>
</div>
    </div>
    <div class="column-one-third">
        <div class="data">
        <span class="data-item bold-xxlarge">£150k</span>
        <span class="data-item bold-xsmall">of avoided costs from easier reconciliations for DBS through adopting <a href="">GOV.UK Pay</a> 
</span>
</div>
    </div>
    <div class="column-one-third">
      <p class="bold-small">Read more case studies</p>
      <ul class="list">
        <li><a href="">Digital Marketplace migration to PaaS</a></li>
        <li><a href="">DWP Pensionwise and Notify</a></li>
        <li><a href="">TfL Dial-a-Ride and Notify</a></li>
        <li><a href="">DBS and Notify, Pay and Verify</a></li>
      </ul>
  </div>        
 </div>


<div class="grid-row">
	<div class="column-full">
      <div class="section-border-top">
      </div>
    </div>
  <div class="column-third">
	  <h2 class="heading-medium">Principles and funding</h2>
	  	<p>Our products are built and run in GDS following the <a href="">Government as a Platform approach</a>. Read more about <a href="">how this work is funded</a>.</p>
    </div>
    <div class="column-third">
    <h2 class="heading-medium"> 24/7 support for service teams</h2>
      <p>Common platforms are supported round the clock by the teams that build and run them. Read more about response times and SLAs on the respective platform product pages.</p>
    </div> 
  <div class="column-third"> 
	  <h2 class="heading-medium">Roadmaps</h2>
	  	<p>Check the roadmaps on the <a href="https://www.gov.uk/service-toolkit#components">product pages</a> to see what teams have planned for the coming months. <!-- Have you developed an application that could be reused across government? <a href="">Get in touch</a>. --></p>
  </div>		
  </div>
  <!-- <div class="column-half">
         <div class="team-image">
              <img src="/public/images/service-team.jpg">
         </div>
    </div> -->
</div>


</main>

{% endblock %}
