{% extends "govuk-pay.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block body_end %}


{% endblock %}

{% block content %}


<div class="product-overview-intro">
  <div class="wrapper">
    <div class="grid-row">


      <div class="column-full">
        <div class="breadcrumbs">
          <ol>
            <li>
                <a href="../govuk-service-manual/index#govuk-products">Service Toolkit</a>
            </li>
            <li class="active">
                Common platforms
            </li>
          </ol>
        </div>
      </div>

      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Assemble, deploy and run services using common government platforms</h1>

      </div>
      <div class="column-one-third">
      <!-- <img class= "panel-image" src="/public/images/platforms-top-image.png" alt""> -->
    </div>
    
    </div>
  </div>
</div>


<main id="content" role="main">
<div class="grid-row">
<div class="column-full">
</div>
<div class="column-half">
<h2 class="heading-medium">Designed with service teams in mind</h2>
  <p>Service teams doing digital transformation across government try to solve similar issues. Verifying someone’s identity, taking payments or keeping users updated about the progress of their case are common elements of many digital transactions.</p>
  
  <p>Common platforms were designed with the needs of these teams in mind:</p>
  
  <ul class="list list-bullet">
    <li>they’re easy to procure, use and integrate</li>
    <li>they avoid whenever possible being locked into a vendor</li>
    <li>they’re supported by the teams that built them</li>
    <li>their features are based on input from service teams </li>
    <li>the paid plans are devised to cover costs and not to make a profit</li>
  </ul>

  </div>
    <div class="column-half">
    <img class= "panel-image" src="/public/images/gaap-end-to-end-4.png" alt"">

    <p>Together with the guidance, standards, patterns and tools provided in the <a href="">Service Toolkit</a> they help service teams deliver world-class digital services based on their users’ needs.</p>

    </div>
  <!-- <div class="column-half" style="border: 1px solid #BFC1C3; margin-top:45px; background-color: #F8F8F8;">
      <img class= "panel-image" src="/public/images/dbs-platforms.png" alt"">
      <a href=""https://governmentasaplatform.blog.gov.uk/2018/03/14/disclosure-barring-service/""><h2 class="heading-small" id="6">See which benefits common platforms unlocked for Disclosure and Barring Service</h2></a>

      <p>Disclosure and Barring Service decided to adopt common platforms to save on procurement costs, but they realised they could deliver digital services faster as well.
    </div> -->
</div>



<div class="grid-row">
<div class="column-full">
      <div class="section-border-top">
      <h2 class="heading-medium">Platforms and components</h2>
      </div>
</div>
  <div class="column-one-third"> 
    <img class= "panel-image" src="/public/images/notify-image.png" alt"">
	  	<p>Keep your users updated via emails, text messages and letters with <a href="">GOV.UK Notify</a></p>
  </div>
  <div class="column-one-third"> 
    <img class= "panel-image" src="/public/images/pay-image.png" alt"">
      <p>Take and process payments for your service with <a href="">GOV.UK Pay</a></p>
  </div>
  <div class="column-one-third"> 
    <img class= "panel-image" src="/public/images/verify-image.png" alt"">
      <p>Allow users to prove their identity with <a href="">GOV.UK Verify</a></p>
  </div>
<div class="grid-row">
</div>
  <div class="column-one-third">
  <h2 class="heading-medium">Data infrastructure</h2> 
  <img class= "panel-image" src="/public/images/registers-image.png" alt"">
      <p>Get access to live and authoritative data to build your service with <a href="">GOV.UK Registers</a></p>
  </div>
  <div class="column-one-third">
   <h2 class="heading-medium">Cloud hosting</h2> 
  <img class= "panel-image" src="/public/images/paas-image.png" alt"">
      <p>Set up your infrastructure without web ops, and deploy and run your apps in minutes with <a href="">GOV.UK PaaS</a></p>
  </div>

</div>
	  


<!-- <div class="grid-row">
    <div class="column-full">
      <div class="section-border-top" style ="margin-bottom:30px;">
      <h2 class="heading-medium" id="6">Service stories</h2>
      </div>
    </div>
    <div class="column-one-third">
      <img class= "panel-image" src="/public/images/dbs-platforms.png" alt"">
      <h2 class="heading-small" id="6">Read about how Disclosure and Barring Service are using common platforms</h2>

      <p>Disclosure and Barring Service decided to adopt common platforms to save on procurement costs, but they realised they could deliver digital services faster as well.</p>
        <p>See which <a href="https://governmentasaplatform.blog.gov.uk/2018/03/14/disclosure-barring-service/">benefits common platforms unlocked for DBS</a></p>

    </div>
    <div class="column-one-third">
      <img class= "panel-image" src="/public/images/dbs-platforms.png" alt"">
      <h2 class="heading-small" id="6">Read about how Disclosure and Barring Service are using common platforms</h2>

      <p>Disclosure and Barring Service decided to adopt common platforms to save on procurement costs, but they realised they could deliver digital services faster as well.</p>
        <p>See which <a href="https://governmentasaplatform.blog.gov.uk/2018/03/14/disclosure-barring-service/">benefits common platforms unlocked for DBS</a></p>

    </div>
    <div class="column-one-third">
      <img class= "panel-image" src="/public/images/dbs-platforms.png" alt"">
      <h2 class="heading-small" id="6">Read about how Disclosure and Barring Service are using common platforms</h2>

      <p>Disclosure and Barring Service decided to adopt common platforms to save on procurement costs, but they realised they could deliver digital services faster as well.</p>
        <p>See which <a href="https://governmentasaplatform.blog.gov.uk/2018/03/14/disclosure-barring-service/">benefits common platforms unlocked for DBS</a></p>

    </div>       
 </div> -->

 <div class="grid-row">
    <div class="column-full">
      <div class="section-border-top">
      <h2 class="heading-medium" id="6">Services using common platforms</h2>
      </div>
    </div>
    <div class="column-half">
      <img class= "panel-image" src="/public/images/dbs-platforms.png" alt"">
    </div>
    <div class="column-half">
    <h2 class="heading-medium" style="margin-top:0px;"><a href="https://governmentasaplatform.blog.gov.uk/2018/03/14/disclosure-barring-service/">See which benefits common platforms unlocked for Disclosure and Barring Service (DBS)</a></h2>
    <p>Disclosure and Barring Service decided to adopt common platforms to save on procurement costs, but they realised they could deliver digital services faster as well.</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-one-third">
        <div class="data" style="margin-top:60px;">
        <span class="data-item bold-xxlarge">880</span>
        <p><a href="#">hours saved yearly for Veterans Welfare Service</a> through adopting GOV.UK Notify</p>
        </div>
    </div>
    <div class="column-one-third">
        <div class="data" style="margin-top:60px;">
        <span class="data-item bold-xxlarge">£1.2m</span>
        <p><a href="#">of avoided costs doing identity checks for DBS</a> through adopting GOV.UK Verify</p>
        </div>
    </div>

    <div class="column-one-third">
        <div class="data" style="margin-top:60px;">
        <span class="data-item bold-xxlarge">470</span>
        <p><a href="#">hours saved yearly for Border Force</a> through adopting GOV.UK Pay</p>
        </div>
    </div>

    <!-- <div class="column-one-third">
      <p class="bold-small">Read more case studies</p>
      <ul class="list">
        <li><a href="">GOV.UK Notify migration to GOV.UK PaaS</a></li>
        <li><a href="">DWP Pensionwise and Notify</a></li>
        <li><a href="">TfL Dial-a-Ride and Notify</a></li>
        <li><a href="">DBS and Notify, Pay and Verify</a></li>
      </ul>
  </div>  -->       
 </div>

 <div class="grid-row">
    <div class="column-one-third">
        <div class="data" style="margin-top:60px;">
        <span class="data-item bold-xxlarge">£100k</span>
        <p><a href="#">of avoided build and run costs for Pension Wise</a> through adopting GOV.UK Notify</p>
        </div>
    </div>
    <div class="column-one-third">
        <div class="data" style="margin-top:60px;">
        <span class="data-item bold-xxlarge">150</span>
        <p><a href="#">hours of deployment time saved annually for Digital Marketplace</a> through adopting GOV.UK PaaS</p>
        </div>
    </div>

    <div class="column-one-third">
        <div class="data" style="margin-top:60px;">
        <span class="data-item bold-xxlarge">£1.3m</span>
        <p><a href="#">of labour and material costs saved annually for Lasting Power of Attorney</a> through adopting GOV.UK Notify and GOV.UK Pay</p>
        </div>
    </div>       
 </div>


<div class="grid-row">
	<div class="column-full">
      <div class="section-border-top">
      </div>
    </div>
  <div class="column-third">
	  <h2 class="heading-medium">Principles and funding</h2>
	  	<p>Our products are built and run in GDS following the <a href="https://governmentasaplatform.blog.gov.uk/2016/02/29/governmentasaplatform-foundations/">Government as a Platform approach</a>. They are centrally funded.</p>
    </div>
    <div class="column-third">
    <h2 class="heading-medium"> 24/7 support</h2>
      <p>Common platforms are supported round the clock by the teams that build and run them. Read more about response times and SLAs on the respective platform <a href="https://www.gov.uk/service-toolkit#components">product pages</a>.</p>
    </div> 
  <div class="column-third"> 
	  <h2 class="heading-medium">Roadmaps</h2>
	  	<p>Check the roadmaps on the <a href="https://www.gov.uk/service-toolkit#components">product pages</a> to see what teams have planned for the coming months. <!-- Have you developed an application that could be reused across government? <a href="">Get in touch</a>. --></p>
  </div>		
  </div>
  <!-- <div class="column-half">
         <div class="team-image">
              <img src="/public/images/service-team.jpg">
         </div>
    </div> -->
</div>


</main>

{% endblock %}
