{% extends "layout.html" %}

{% block page_title %}
  Transaction list
{% endblock %}

{% block content %}
<main id="content" role="main">
	
<div class="grid-row">

	<!-- Main body -->
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">
			<span class="heading-secondary">Roadmaps</span>GaaP Components</h1>
	</div>
</div>


<div class="grid-row">

  <div class="column-one-quarter">
	 <div class="data">
	  <span class="data-item bold-xxlarge phase-discovery">3</span>
	  <span class="data-item bold-xsmall">Components in Discovery</span>
	</div>
  </div>
  <div class="column-one-quarter">
	 <div class="data">
	  <span class="data-item bold-xxlarge phase-alpha">1</span>
	  <span class="data-item bold-xsmall">Component in Alpha</span>
	</div>
  </div>
  <div class="column-one-quarter">
	 <div class="data">
	  <span class="data-item bold-xxlarge phase-beta">3</span>
	  <span class="data-item bold-xsmall">Components in Beta</span>
	</div>
  </div>
  <div class="column-one-quarter">
	 <div class="data">
	  <span class="data-item bold-xxlarge phase-live">1</span>
	  <span class="data-item bold-xsmall">Component Live</span>
	</div>
  </div>
</div>

<div class="grid-row">
	<div class="column-full">
        <div class="section-border-top">
        </div>
      </div>
		<div class="column-three-quarters">
			<h2 class="heading-large">GOV.UK Notify</h2>
			<p class="beta status">Public Beta</p>
		</div>
		<div class="column-one-quarter">
			<div <a class="product-overview-link">
				<ul class="list">
					<li><a href="https://www.notifications.service.gov.uk/">Product overview</a></li>
					<li><a href="https://governmentasaplatform.blog.gov.uk/2017/03/10/what-were-working-on/">Recent updates</a></li>
			</div>
		</div>
</div>

<div class="grid-row">
	<div class="column-one-quarter">
    	<h3 class="heading-medium">April 2017</h3>
    	<ul class="list list-bullet">
		  <li>Searching templates</li>
		  <li>Sending letters (invite only)</li>
		  <li>Sending text messages to international numbers</li>
		</ul>
	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-medium">May 2017</h3>
    	<ul class="list list-bullet">
			<li>Supporting replies to text messages (invite only)</li>
			<li>Retiring version of the API</li>
			<li>Sending individual messages via Notify interface</li>
			<li>Restricting notifications to sociable hours</li>
			<li>Searching for notifications by phone number or email address</li>
		</ul>
  	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-medium">June to August 2017</h3>
    	<ul class="list list-bullet">
			<li>Sending letters (available for everyone)</li>
			<li>Distributing delivery of notifications over a period of time</li>
			<li>Allowing multiple sender names and reply-to addresses</li>
			<li>Sending of pre-compiled text messages and emails</li>
			<li>Checking mobile numbers are valid before sending</li>
			<li>Providing non-mobile phone 2-factor authentication</li>
			<li>Sending letters through the API</li>
			<li>Customising the expiry time for text messages</li>
		</ul>
  	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-medium">September 2017 and beyond</h3>
    	<ul class="list list-bullet">
			<li>Sending of pre-compiled letters</li>
			<li>Allowing people to request to join a service</li>
			<li>Publishing design patterns for integration</li>
		</ul>
  	</div>

</div>


<div class="grid-row">
	<div class="column-full">
        <div class="section-border-top">
        </div>
      </div>
		<div class="column-three-quarters">
			<h2 class="heading-large">GOV.UK Pay</h2>
			<p class="beta status">Private Beta</p>
		</div>
		<div class="column-one-quarter">
			<div <a class="product-overview-link">
				<ul class="list">
					<li><a href="https://www.payments.service.gov.uk/">Product overview</a></li>
					<li><a href="#">Recent updates</a></li>
			</div>
		</div>
</div>

<div class="grid-row">

	<div class="column-one-quarter">
    	<h3 class="heading-medium">April 2017</h3>
    	<ul class="list list-bullet">
		  <li>Searching templates</li>
		  <li>Sending letters (invite only)</li>
		  <li>Sending text messages to international numbers</li>
		  <li>Providing non-mobile phone 2-factor authentication</li>
		  <li>Sending letters through the API</li>
		  <li>Customising the expiry time for text messages</li>
		</ul>
	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-medium">May 2017</h3>
    	<ul class="list list-bullet">
			<li>Supporting replies to text messages (invite only)</li>
			<li>Retiring version of the API</li>
			<li>Sending individual messages via Notify interface</li>
			<li>Restricting notifications to sociable hours</li>
			<li>Searching for notifications by phone number or email address</li>
		</ul>
  	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-medium">June to August 2017</h3>
    	<ul class="list list-bullet">
			<li>Sending letters (available for everyone)</li>
			<li>Distributing delivery of notifications over a period of time</li>
			<li>Allowing multiple sender names and reply-to addresses</li>
			<li>Sending of pre-compiled text messages and emails</li>
			<li>Checking mobile numbers are valid before sending</li>
		</ul>
  	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-medium">September 2017 and beyond</h3>
    	<ul class="list list-bullet">
			<li>Sending of pre-compiled letters</li>
			<li>Allowing people to request to join a service</li>
			<li>Publishing design patterns for integration</li>
		</ul>
  	</div>

</div>


<div class="grid-row">
	<div class="column-full">
        <div class="section-border-top">
        </div>
      </div>
		<div class="column-three-quarters">
			<h2 class="heading-large">GOV.UK Platform as a Service</h2>
			<p class="beta status">Private Beta</p>
		</div>
		<div class="column-one-quarter">
			<div <a class="product-overview-link">
				<ul class="list">
					<li><a href="https://www.cloud.service.gov.uk/">Product overview</a></li>
					<li><a href="#">Recent updates</a></li>
			</div>
		</div>
</div>

<div class="grid-row">

	<div class="column-one-quarter">
    	<h3 class="heading-medium">April 2017</h3>
    	<ul class="list list-bullet">
		  <li>Searching templates</li>
		  <li>Sending letters (invite only)</li>
		  <li>Sending text messages to international numbers</li>
		</ul>
	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-medium">May 2017</h3>
    	<ul class="list list-bullet">
			<li>Supporting replies to text messages (invite only)</li>
			<li>Retiring version of the API</li>
			<li>Sending individual messages via Notify interface</li>
			<li>Restricting notifications to sociable hours</li>
			<li>Searching for notifications by phone number or email address</li>
		</ul>
  	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-medium">June to August 2017</h3>
    	<ul class="list list-bullet">
			<li>Sending letters (available for everyone)</li>
			<li>Distributing delivery of notifications over a period of time</li>
			<li>Allowing multiple sender names and reply-to addresses</li>
			<li>Sending of pre-compiled text messages and emails</li>
			<li>Checking mobile numbers are valid before sending</li>
			<li>Providing non-mobile phone 2-factor authentication</li>
			<li>Sending letters through the API</li>
			<li>Customising the expiry time for text messages</li>
		</ul>
  	</div>
  	<div class="column-one-quarter">
    	<h3 class="heading-medium">September 2017 and beyond</h3>
    	<ul class="list list-bullet">
			<li>Sending of pre-compiled letters</li>
			<li>Allowing people to request to join a service</li>
			<li>Publishing design patterns for integration</li>
		</ul>
  	</div>

</div>

</main>

{% endblock %}
